.main-description .main-title {
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--whiteColor);
  font-weight: 900;
  font-size: 44px;
}

.main-title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.title-section {
  text-align: center;
  margin-bottom: 50px;

  color: var(--headTextColor);
  line-height: 1.17;
  font-size: 36px;
}

.backdrop .title-section {
  color: var(--headTextColor);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
