body {
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--textColor);
  margin: 0;
  font-size: 14px;
}

body ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-description {
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img41.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.page-header a:hover,
.page-header a:focus,
.contacts a:hover,
.contacts a:focus,
.page-footer a:hover,
.page-footer a:focus,
footer .contacts a:hover,
footer .contacts a:hover {
  color: var(--blueColor);
}

.page-header .logo a:link,
.page-footer .logo a:link {
  font-size: 26px;
}

.page-header .logo a:visited,
.logo a:hover,
.logo a:focus,
.logo a {
  color: var(--blueColor);
}

.logo span {
  color: var(--headTextColor);
}

.contacts a {
  display: flex;
  font-size: 14px;
  line-height: 1.71px;
  align-items: center;
}

.contacts a:link {
  color: var(--textColor);
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-weight: 500;
}

.contacts a:visited {
  color: var(--textColor);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.items {
  display: flex;
}

.items .item {
  width: 270px;
  margin-right: 30px;
}

.items .item:last-child {
  margin-right: 0px;
}

.instagram {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.twitter {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.facebook {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.linkedin {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.link:visited {
  color: var(--headTextColor);
}

.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 76px;
  background: var(--blueColor);
  border-radius: 2px;
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.phone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.social-network {
  margin-top: 16px;

  display: flex;
  justify-content: center;
}

.social-network .item2:not(:last-child) {
  margin-right: 10px;
}

.social-box {
  display: flex;
  align-items: center;
  color: var(--iconColor);
  background-color: var(--whiteColor);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
