.exeptions {
  line-height: 1.14;
  font-size: 14px;
}

.exeptions .exeption-title {
  font-size: 14px;
  color: var(--headTextColor);
}

.exeption-title {
  margin-bottom: 10px;
}

.exeptions .item::before {
  display: block;
  content: " ";
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 30px;
}

.exeptions .attention-icon::before {
  background-image: url(../images/Vector41.svg);
}

.exeptions .time-icon::before {
  background-image: url(../images/Vector42.svg);
}

.exeptions .plan-icon::before {
  background-image: url(../images/Vector43.svg);
}

.exeptions .modern-icon::before {
  background-image: url(../images/Vector44.svg);
}
