.page-footer .site-nav-link {
  padding: 0;
}

.page-footer a:link {
  color: var(--whiteColor);
}

.adress-footer {
  font-size: 14px;
}

footer .contacts a:link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
}

footer .contacts a:hover,
footer .contacts a:focus {
  color: var(--blueColor);
}

.page-footer .logo .logo-link {
  color: var(--blueColor);
}

.page-footer {
  padding: 60px 0;
  background-color: var(--backgroundDarkColor);
}

.logo .footer-span {
  color: var(--whiteColor);
}

.page-footer .adress-link {
  color: var(--whiteColor);
}

.footer-adress .footer-item {
  margin-bottom: 9px;
}

.footer-adress .footer-item:last-child {
  margin-bottom: 0;
}

.page-footer .logo {
  margin-bottom: 20px;
}

.page-footer .container {
  display: flex;
  align-items: center;
  align-items: baseline;
}

.page-footer .social-box {
  color: var(--whiteColor);
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer .adress-footer {
  margin-right: 70px;
}

.page-footer .social-box:focus,
.page-footer .social-box:hover {
  color: var(--whiteColor);
  background-color: var(--blueColor);
}

.footer-margin {
  margin-right: auto;
}

.subscribe-form .input {
  height: 50px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
}

.social-box:hover,
.social-box:focus {
  background-color: var(--blueColor);
  color: var(--whiteColor);
}

.join {
  font-size: 14px;
  color: var(--whiteColor);
  line-height: 1.14;
  font-weight: 700;
  line-height: 1.14;
}
